
/* ------------------------------ HERO ------------------------------ */

/* ------ video ------ */
.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    
}

/* ------ text ------ */

body {
    margin: 0px 0px;
    font-family: Lato;

    /* background-color: #001312; */
}

.hi {
    color: #FFF6EE;
    text-align: center;
    z-index: 10;
    width: 50%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hi h1 {
    font-weight: 700;
    font-size: 68px;
    padding-bottom: 12px;
    line-height: 80px;
    margin: 0;
}

.hi h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}

/* ------------------------------ NAV BAR ------------------------------ */

.navbar {
    z-index: 1;
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1720px;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

.navbar-links ul{
    list-style-type: none;
    float: right;
    background-color: rgba(0,0,0,0);
    display: flex;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    margin-right: 40px;
}

.navbar-links a{
    display: block;
    margin: 24px 24px 16px 24px;
}

.name {
    text-align: center;
    font-size: 18px;
    margin: 24px 16px 16px 64px;
}


.toggle-button  {
    z-index: 1;
    position: absolute;
    top: 32px;
    right: 64px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFF6EE;
    border-radius: 12px;
}

@media (max-width: 650px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .name {
        margin-top: 38px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: right;
    }

    .navbar-links li a {
        margin: 12px;
    }

    .navbar-links.active {
        display: flex;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* ------------------------------ ABOUT ME ------------------------------ */

/* ------ introduction ------ */
.me {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0d0012;
    color:#FFFAE3;
    padding-bottom: 32px;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introduction {
    width: 50%;
    padding: 20px;
    text-align: left;
    margin-left: 10%;
    margin-top: 7%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introduction h1 {
    font-weight: 600;
    font-size: 68px;
    line-height: 80px;
    margin-bottom: 4%;
    color: #FFFAE3;
}


.introduction p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.picture {
    width: 50%;
    float: right;
    height: auto;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 4%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.picture img {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction {
        width: 70%;
        margin: 4% 0% 0% 0%;
    }

    .picture {
        margin: 0;
        object-fit: contain;
        width: 70%;
        height: auto;
    }
}

/* ------ hobbies ------ */

.hobbies {
    margin: 0;
    min-height: 40vh;
    background-color: #21110D;
}

.section-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #FFFAE3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 48px;
    padding-bottom: 32px;
}

.hobbies img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 48px;
}

.activities h2 {
    font-size: 24px;
    color: #F4A261;
    text-align: center;
}

.activities p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFAE3;
    text-align: center;
    line-height: 24px;
}

.activity {
    max-width: 25%;
}

.activity img {
    height: auto;
}

@media screen and (max-width: 700px) {
    .activities {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .activity {
        max-width: 90%;
        margin-bottom: 16px;
    }
}

/* ------ design philosphy ------ */

.design {
    min-height: 60vh;
    background-color: #0d0012;
    margin: 0;
}

.section {
    display: inline-grid;
    width: 70%;
    padding-bottom: 24px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    margin: 0;
}

.section h2 {
    font-size: 24px;
    color: #F4A261;
}

.section p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFAE3;
    line-height: 24px;
}

/* ------------------------------ WORK ------------------------------ */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    min-height: 100vh;
    background-color: #0d0012;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
}

.page-title {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5%;
    margin-top: 4%;
}

.page-title h1 {
    font-weight: 600;
    font-size: 68px;
    line-height: 80px;
    text-align: center;
    margin-bottom: auto;
    color: #FFFAE3;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 64%;
    margin: 0 auto;
}

.project {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    transition: transform 0.3s;
}

.project a {
    display: block;
    width: 100%;
    height: 100%;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.hover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(38,70,83,0.9); 
    border-radius: 1em;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    font-size: 1.5em;
    text-align: center;
    top: 50%;
    bottom: 50%;
    font-weight: 600;
    color: #FFF6EE;
}

.project:hover .hover-overlay {
    opacity: 1;
}

.projects .button {
    border: 2px solid rgba(38,70,83,0.9);
    padding: 12px 24px; 
    color: #FFF6EE; 
    font-size: 1.1rem; 
    font-weight: 600;
    max-width: 25%;
    background-color: rgba(38,70,83,0.9);
    border-radius: 12px; 
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    margin: 2% auto 2% auto;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.projects .button:hover {
    border: 2px solid rgba(38,70,83,0.9);
    background-color: #FFF6EE; 
    color: rgba(38,70,83,0.9);
}

/* ------------------------------ FOOTER ------------------------------ */

.showcase-footer {
    position: relative;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.thank-you {
    color: #FFFAE3;
    text-align: center;
    z-index: 10;
    margin-top: 20px;
}

.thank-you h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.thank-you h2 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
}

.thank-you img {
    margin: 0;
    height: auto;
    width: 5.5%;
}

.thank-you a img {
    margin: 0 3px; 
}

.thank-you h3 {
    margin: 0;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}



/* ------------------------------ BUTTON STATES ------------------------------ */

.name a {
    text-decoration: none;

}

a:link {
    text-decoration: none;
    color: #FFF6EE;
    
}

a:visited {
    color: #FFF6EE;

}

a:hover {
    color: #E76F51;

}

a:active {
    color: #E76F51;

}

.navbar {
    overflow: hidden;
}
