/* ------------------------------ FONTS ------------------------------ */


@font-face {
    font-family: Regular;
    src: url('SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: Lightish;
    src: url('SF-Pro-Text-Light.otf');
}

@font-face {
    font-family: Lightest;
    src: url('SF-Pro-Text-Thin.otf');
}
@font-face {
    font-family: Title;
    src: url('SF-Pro-Display-Bold.otf');
}

@font-face {
    font-family: Semibold;
    src: url('SF-Pro-Text-Semibold.otf');
}

@font-face {
    font-family: Mediumish;
    src: url('SF-Pro-Text-Medium.otf');
}

@font-face {
    font-family: Bold;
    src: url('SF-Pro-Display-Bold.otf');
}

@font-face {
    font-family: SF Pro;
    src: url('SF-Pro.ttf');
}

@font-face {
    font-family: Ultralight;
    src: url('SF-Pro-Text-Ultralight.otf');
}

/* ------------------------------ HERO ------------------------------ */


/* ------ video ------ */
.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-container:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    
}

/* ------ text ------ */

body {
    margin: 0px 0px;
}

.hi {
    color: #FFF6EE;
    text-align: center;
    z-index: 10;
    width: 50%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hi h1 {
    font-family: Mediumish;
    font-size: 68px;
    padding-bottom: 12px;
    margin: 0;
}

.hi h2 {
    font-family: Lightish;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}

/* ------------------------------ NAV BAR ------------------------------ */

.navbar {
    z-index: 1;
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1720px;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

.navbar-links ul{
    list-style-type: none;
    float: right;
    background-color: rgba(0,0,0,0);
    font-family: Regular;
    display: flex;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    margin-right: 40px;
}

.navbar-links a{
    display: block;
    margin: 24px 24px 16px 24px;
}

.name {
    text-align: center;
    font-family: Lightish;
    font-size: 18px;
    margin: 24px 16px 16px 64px;
}


.toggle-button  {
    z-index: 1;
    position: absolute;
    top: 32px;
    right: 64px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFF6EE;
    border-radius: 12px;
}

@media (max-width: 650px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .name {
        margin-top: 38px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: right;
    }

    .navbar-links li a {
        margin: 12px;
    }

    .navbar-links.active {
        display: flex;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* ------------------------------ ABOUT ME ------------------------------ */

/* ------ introduction ------ */
.me {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0d0012;
    color:#FFFAE3;
    padding-bottom: 32px;
}

.introduction {
    width: 50%;
    padding: 20px;
    text-align: left;
    margin-left: 10%;
    margin-top: 7%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introduction h1 {
    font-family: Mediumish;
    font-size: 68px;
}

.introduction p {
    font-family: Lightish;
    font-size: 16px;
    line-height: 24px;
}

.picture {
    width: 50%;
    float: right;
    height: auto;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 4%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.picture img {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .introduction {
        width: 70%;
        margin: 4% 0% 0% 0%;
    }

    .picture {
        margin: 0;
        object-fit: contain;
        width: 70%;
        height: auto;
    }
}

/* ------ hobbies ------ */

.hobbies {
    margin: 0;
    min-height: 40vh;
    background-color: #21110D;
}

.section-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mediumish;
    font-size: 28px;
    color: #FFFAE3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 48px;
    padding-bottom: 32px;
}

.hobbies img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 48px;
}

.activities h2 {
    font-family: Mediumish;
    font-size: 24px;
    color: #F4A261;
    text-align: center;
}

.activities p {
    font-family: Lightish;
    font-size: 16px;
    color: #FFFAE3;
    text-align: center;
    line-height: 24px;
}

.activity {
    max-width: 25%;
}

.activity img {
    height: auto;
}

@media screen and (max-width: 700px) {
    .activities {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .activity {
        max-width: 90%;
        margin-bottom: 16px;
    }
}

/* ------ design philosphy ------ */

.design {
    min-height: 60vh;
    background-color: #0d0012;
    margin: 0;
}

.section {
    display: inline-grid;
    width: 70%;
    padding-bottom: 24px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.section h2 {
    font-family: Mediumish;
    font-size: 24px;
    color: #F4A261;
}

.section p {
    font-family: Lightish;
    font-size: 16px;
    color: #FFFAE3;
    line-height: 24px;
}

/* ------------------------------ FOOTER ------------------------------ */

.showcase-footer {
    position: relative;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.thank-you {
    color: #FFFAE3;
    text-align: center;
    z-index: 10;
    margin-top: 20px;
}

.thank-you h1 {
    font-family: Mediumish;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.thank-you h2 {
    font-family: Lightish;
    font-size: 16px;
    margin-top: 25px;
}

.thank-you img {
    margin: 0;
    height: auto;
    max-width: 4%;
    min-width: 3.9%
}

.thank-you h3 {
    font-family: Regular;
    margin: 0;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}


/* ------------------------------ BUTTON STATES ------------------------------ */

.name a {
    text-decoration: none;
    font-family: Regular;

}

a:link {
    text-decoration: none;
    color: #FFF6EE;
    
}

a:visited {
    color: #FFF6EE;

}

a:hover {
    color: #E76F51;

}

a:active {
    color: #E76F51;

}

.navbar {
    overflow: hidden;
}
